.editor-page-sidebar-nav {
  div.ReactVirtualized__Grid__innerScrollContainer {
    height: auto !important;
  }
  .list-item {
    background-color: #222;
    cursor: pointer;
    text-align: center;
    height: 50px;
    line-height: 50px;
    &:hover {
      background-color: #333 !important;
    }
  }
  .list-selected {
    border-bottom: 2px solid rgb(28, 79, 123);
  }
}
